*{
    margin: 0%;
}
.head{
    background-color: rgb(18, 86, 103);
    padding:0%;
    padding-top: 1%;
    width: 101.5%;
    margin: -10px 0px 0px -10px;
    display: flow-root;
    color: white;
    font-size: medium;
}
li{
    margin: 20px;
    font-size: 150%;
    list-style: none;
}
/* .side-bar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: white;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.6s;
}
.side-bar ul li:hover::after{
	width: 100%; 
}*/
.side-bar{
    font-size: 100%;
}
